19 page
#ex16)

In [3]:
#피보나치 수열
a= 0
b= 1
for i in range(20):
  print(a, end = ' ')
  n= a+b
  a=b
  b=n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [6]:
#ex17
for x in range(1, 41):
  if x%10==0:
    print('+', end = '')
  else:
    print('-', end= '')

---------+---------+---------+---------+

In [1]:
#ex18
x = 1
while x<41:
    if x%10==0:
      print('+', end ='')
    else:
      print('-', end='')
    x+=1

---------+---------+---------+---------+

In [4]:
print('-'*40)
print("센치(cm) 인치(inch) 피트(ft) 야드(yd)")
print('-'*40)
for cm in range(10, 101, 10):
  inch= cm*0.393701
  ft = cm*0.032808
  yd= cm *0.010936
  print("%7d %8.1f %8.1f %8.1f"%(cm, inch, ft, yd))
print('-'*40)

----------------------------------------
센치(cm) 인치(inch) 피트(ft) 야드(yd)
----------------------------------------
     10      3.9      0.3      0.1
     20      7.9      0.7      0.2
     30     11.8      1.0      0.3
     40     15.7      1.3      0.4
     50     19.7      1.6      0.5
     60     23.6      2.0      0.7
     70     27.6      2.3      0.8
     80     31.5      2.6      0.9
     90     35.4      3.0      1.0
    100     39.4      3.3      1.1
----------------------------------------

In [5]:
#ex20
for i in range(1, 1001):
  print(i, end = ' ')
  if i == 10:
    break

1 2 3 4 5 6 7 8 9 10

In [9]:
#ex21
score = [92, 86, 68, 120, 56, 72]
for i in range(len(score)):
  if score[i]>100 or score[i]<0 :
    break
  print(score[i])
print("성적 처리 끝")

92
86
68
성적 처리 끝

In [11]:
#ex21-1
score = [ 92, 86, 68, 120, 56, 72]
for i in range(len(score)):
  if score[i]>100:
    continue
  print(score[i])
print("성적 처리 끝")

92
86
68
56
72
성적 처리 끝

In [12]:
#ex22
print( " 3 + 4 = ? ")
while True:
  a=int(input("정답을 입력하시오 :"))
  if a == 7:
    break
print("참 잘 했어요")

 3 + 4 = ?
정답을 입력하시오 :7
참 잘 했어요

In [16]:
#ex23
while True:
  light = input("신호등 색상 입력 : ")
  if light == "green":
    break
print("길을 건너세요")

신호등 색상 입력 : green
길을 건너세요

In [18]:
#ex24
i = 1
total = 0
while True :
  total = total + i
  if total>50:
    print("합이 50보다 커지는 수는 %d이고 합은 %d이다." %(i, total))
    break
  i+=1

합이 50보다 커지는 수는 10이고 합은 55이다.

In [22]:
for dan in range(2, 10):
  print(dan, "단")
  for hang in range(2, 10):
      print( dan, "*", hang, "=", dan*hang)
  print()

2 단
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [23]:
#ex25
dan = 2
while dan<10:
  hang = 1
  print(dan, "단")
  while hang<10:
    print(dan, "*", hang, "=", dan*hang)
    hang+=1
  dan+=1
  print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
#ex26
for y in range(1, 6):
  for x in range(y):
    print("*", end= '')
  print()

*
**
***
****
*****

In [30]:
#ex27
for i in range(7):
  for j in range(7):
    if (i==j) or (i+j== 6) : 
      print('*', end = '')
    else:
      print(' ', end= '')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [38]:
#ex28
cnt = 0
n = int(input('수 입력 : '))

for i in range(2, n+1):
  pn = 1
  for j in range(2, i):
      if i%j==0:
        pn = 0
  if pn ==1:
    print('{:>5}'.format(i), sep = '', end = ' ')
    cnt +=1
    if cnt%5==0:
      print()

수 입력 : 50
    2     3     5     7    11
   13    17    19    23    29
   31    37    41    43    47