page17

In [ ]:
#ex11

pw = ""
while pw != 'python' :
  pw = input("암호입력 : ")
print("로그인 성공")

암호입력 : python
로그인 성공

In [ ]:
#ex12
import random

cnt = 0
guess = 0
answer = random.randint(1, 100)
print("1부터 100사이의 숫자를 맞추기")

while guess != answer :
  guess = int(input("숫자를 맞춰 보세요 : "))
  cnt+=1
  if guess > answer:
    print("높음")
  elif guess < answer :
    print("낮음")
print("축하합니다., 시도횟수 = ", cnt)

1부터 100사이의 숫자를 맞추기
숫자를 맞춰 보세요 : 50
높음
숫자를 맞춰 보세요 : 30
높음
숫자를 맞춰 보세요 : 20
높음
숫자를 맞춰 보세요 : 10
낮음
숫자를 맞춰 보세요 : 15
높음
숫자를 맞춰 보세요 : 13
축하합니다., 시도횟수 =  6

page18

In [ ]:
#ex1
for i in [1,2,3]:
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#ex2
for i in range(10):
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#ex3
for i in range(1,11):
  print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
#ex4
for i in range(1, 10, 2):
  print(i, end = " ")

1 3 5 7 9

In [ ]:
#ex5
for i in range(20, 1, -2):
  print(i, end = " ")

20 18 16 14 12 10 8 6 4 2

In [ ]:
#ex6
for i in range(3):
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [ ]:
#ex7
a= 10
for num in range(1, 5, 2):
  a+=num
print(a)

14

In [ ]:
#ex8
for i in range(1, 4):
  print(i, "번째 학생의 성적 처리")

1 번째 학생의 성적 처리
2 번째 학생의 성적 처리
3 번째 학생의 성적 처리

In [ ]:
#ex9
for i in range(1, 21):
  if i%2==0 :
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
#ex 10
a = 2
for b in range(1, 10, 1):
  c = a * b
  print(f"{a} x {b} = {c}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
#ex11
sum=0
for i in range(1, 11):
  sum+=i
  print("i의 값 : ", i, "=> 합계 : ", sum)

i의 값 :  1 => 합계 :  1
i의 값 :  2 => 합계 :  3
i의 값 :  3 => 합계 :  6
i의 값 :  4 => 합계 :  10
i의 값 :  5 => 합계 :  15
i의 값 :  6 => 합계 :  21
i의 값 :  7 => 합계 :  28
i의 값 :  8 => 합계 :  36
i의 값 :  9 => 합계 :  45
i의 값 :  10 => 합계 :  55

In [ ]:
#ex12
even_sum = 0
for i in range(2, 101, 2):
  even_sum+=i
print("1~100까지의 even_sum =", even_sum)

1~100까지의 even_sum = 2550

In [ ]:
#ex13
fact = 1
for i in range(1, 11, 1):
  fact = fact * i
print("10!", fact)

10! 3628800

In [ ]:
#ex14
cnt = 0
for i in range(5, 101, 5):
  cnt+=1
  print(i, end = " ")
  if cnt%7==0 :
    print("\n")

5 10 15 20 25 30 35

40 45 50 55 60 65 70

75 80 85 90 95 100

In [ ]:
#ex15
n = int(input("정수를 입력하세요 : "))
for i in range(1, n+1):
  if n%i==0:
    print(i, end = " ")

정수를 입력하세요 : 12
1 2 3 4 6 12