In [ ]:
#1
print('I said "hello" to you.\n')
print("Let's go.")

I said "hello" to you.

Let's go.

In [ ]:
#2
below = int(input("삼각형의 밑변 길이 : "))
height = int(input("삼각형의 높이 : "))
area = below * height /2 
print("삼각형의 면적 : %d"%(area))

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15

In [ ]:
#3
h = int(input("현재 시 : "))
m = int(input("현재 분 : "))
m+=20
h=(h+m//60)%24 #// 정수형 나누기, / 실수형 나누기
m%=60
print("20분 뒤에는 %d시 %d분 입니다."%(h, m))

현재 시 : 3
현재 분 : 10
20분 뒤에는 3시 30분 입니다.

In [ ]:
#4
a = int(input("숫자 입력 : "))
print(abs(a))

숫자 입력 : 10
10

In [ ]:
#5
id = input("아이디를 입력하세요 : ")
level = int(input("회원 레벨을 입력하세요: "))
if id=="amdin" or level==1:
  print("관리자 입니다.")
else :
  print("관리자가 아닙니다.")

In [ ]:
#6
a = int(input("첫 번째 수 :"))
b = int(input("두 번째 수 :"))
c = int(input("세 번째 수 :"))
max=0
if a>b and a>c:
  max=a
elif b>c:
  max=b
else:
  max=c
print("가장 큰 수는 %d입니다."%(max))

첫 번째 수 :50
두 번째 수 :60
세 번째 수 :70
가장 큰 수는 70입니다.

In [ ]:
#7
age = int(input("나이 입력 : "))
if 0<=age<=7:
  print("어린이")
elif 8<=age<=13:
  print("초등학생")
elif 14<=age<=16:
  print("중학생")
elif 17<=age<=19:
  print("고등학생")
else:
  print("성인")

나이 입력 : 100
성인

In [ ]:
#8
score = int(input("점수 입력 : "))
if score>=90:
  print("A등급입니다.")
elif score>=80:
  print("B등급입니다.")
elif score>=70:
  print("C등급입니다.")
else :
  print("F등급입니다.")

In [ ]:
#9
a = int(input("숫자 입력 : "))
if a%3==0 and a%5!=0:
  print("3의 배수")
elif a%3==0 and a%5==0:
  print("3과 5의 공배수")
elif a%3!=0:
  print("3의 배수가 아님")

숫자 입력 : 10
3의 배수가 아님

In [ ]:
#10
for i in range(1, 20, 2):
  print(i, end= " ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
#11
sum=0
for num in range(1, 11, 1):
  sum+=num
  print("num의 값 : %d => 합계 : %d"%(num, sum))

num의 값 : 1 => 합계 : 1
num의 값 : 2 => 합계 : 3
num의 값 : 3 => 합계 : 6
num의 값 : 4 => 합계 : 10
num의 값 : 5 => 합계 : 15
num의 값 : 6 => 합계 : 21
num의 값 : 7 => 합계 : 28
num의 값 : 8 => 합계 : 36
num의 값 : 9 => 합계 : 45
num의 값 : 10 => 합계 : 55

In [ ]:
#12
a = int(input("숫자 입력 : "))
n=a
for i in range(a, 0, -1):
  n*=i
print("%d! = %d"%(a, n))

숫자 입력 : 10
10! = 36288000

In [ ]:
#13
import random
answer = random.randint(1, 100)
cnt=0
print("1부터 100 사이의 숫자를 맞히기")
while True:
  guess = int(input("숫자를 맞춰보세요 : "))
  if answer<guess:
    print("높음")
  elif answer>guess:
    print("낮음")
  else:
    print("축하합니다. 시도횟수 = %d"%(cnt))
    break
  cnt+=1

1부터 100 사이의 숫자를 맞히기
숫자를 맞춰보세요 : 50
높음
숫자를 맞춰보세요 : 30
높음
숫자를 맞춰보세요 : 20
축하합니다. 시도횟수 = 2

In [ ]:
#14
for i in range(10, 51, 1):
  if i%3==0:
    continue
  print(i, end=" ")

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [ ]:
#15
import random
print("주사위 게임을 시작합니다.")
play = "y"
while play =='y' :
  print("주사위를 던졌습니다.")
  me = random.randint(1, 6)
  you = random.randint(1, 6)
  print("나 : %d"%(me))
  print("당신 : %d"%(you))ㅛㅛ
  if me>you:
    print("나의 승리!")
  elif me==you:
    print("무승부!")
  else:
    print("당신의 승리!")
  play = input("계속하려면 y를 클릭하세요!")

주사위 게임을 시작합니다.
주사위를 던졌습니다.
나 : 2
당신 : 3
당신의 승리!
계속하려면 y를 클릭하세요!ㅛ

In [50]:
#16
a= int(input("숫자 입력 : "))
print(int(str(a)[::-1]))

숫자 입력 : 10293
39201

In [53]:
#16_1
a= int(input("숫자 입력 : "))
while a!=0:
  print(a%10, end ='')
  a = a//10

숫자 입력 : 10293
39201

In [54]:
#17
for i in range(1, 10, 1):
  print("2 x %d = %d"%(i, 2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [56]:
#18
for i in range(9, 0, -1):
  print("2 x %d = %d"%(i, 2*i))

2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

9801