1.반복문
while 반복문
> while 문은 조건이 만족하는 동안 계속 명령을 실행하는 반복문이다.
>보통 여러개의 명령 묶음이 블록에 오며 블록에 속하는 명령은 들여쓰기를 일치시킨다. 기본 형식은 다음과 같다.

보통 여러개의 명령 묶음이 블록에 오며 블록에 속하는 명령은 들여쓰기를 일치시킨다. 기본 형식은 다음과 같다.

page16

In [3]:
i=0
while i<3 :
  print("안녕하세요.")
  i+=1

안녕하세요.
안녕하세요.
안녕하세요.

In [6]:
i=1
while i<=3 :
  print("%d 번 학생의 성적을 처리한다."%(i))
  i+=1

1 번 학생의 성적을 처리한다.
2 번 학생의 성적을 처리한다.
3 번 학생의 성적을 처리한다.

In [1]:
dan = int(input("원하는 단은? : "))
i=1
while i<=9 : 
  print(dan, '*', i, '=', dan*i)
  i+=1

원하는 단은? : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [3]:
i=1
sum =0
while i<=10 :
  sum+=i
  print("i의 값", i, "=> 합계 : ", sum)
  i+=1

i의 값 1 => 합계 :  1
i의 값 2 => 합계 :  3
i의 값 3 => 합계 :  6
i의 값 4 => 합계 :  10
i의 값 5 => 합계 :  15
i의 값 6 => 합계 :  21
i의 값 7 => 합계 :  28
i의 값 8 => 합계 :  36
i의 값 9 => 합계 :  45
i의 값 10 => 합계 :  55

In [6]:
i=150
sum=0
while i<=300:
  if i%2==1:
    sum+=i
  i+=1
print("sum =", sum)

sum = 16875

In [8]:
print('-' * 15)
print(' 섭씨  화씨 ')
print('-' *15)
c = -5
while c<=5 :
  f = c * 9.0/5.0 + 32.0 #화씨온도
  print("%5d %5.1f"%(c,f))
  c+=1
print('-' *15)

---------------
 섭씨  화씨
---------------
   -5  23.0
   -4  24.8
   -3  26.6
   -2  28.4
   -1  30.2
    0  32.0
    1  33.8
    2  35.6
    3  37.4
    4  39.2
    5  41.0
---------------

In [10]:
n=1
factorial = 1
while n<=10 :
  factorial *=n
  n+=1
print("10! =", factorial)

10! = 3628800

In [13]:
n=1
while n<=20:
  if n%2==0:
    print(n)
  n+=1

2
4
6
8
10
12
14
16
18
20

In [6]:
n=9
while n <= 50 :
  n+=1
  if n % 3==0 :
      continue
  print(n)

10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50