1.입력과 출력

page1

In [ ]:
print(3+4)

7

In [ ]:
print(3+4)

4*5
a=1
b=2
print(a+b)

7
3

In [ ]:
a='강아지'
b='고양이'
print(a)
print(b)

강아지
고양이

In [ ]:
value = 1234
print(value+100)

1334

In [ ]:
4*5

20

In [ ]:
a='강아지 '
b= '고양이'
print(a, end = '')
print(b)

강아지 고양이

In [ ]:
print(34, end = '^^')
print(78)

34^^78

In [ ]:
a= 12
b= 34
print(a, b)

12 34

In [ ]:
a= 12
b= 34
print(a, b, sep = ',')

12,34

In [ ]:
s='서울'
d= '대전'
g= '대구'
b= '부산'
print(s, d, g, b, sep= ' 찍고 ', end= ' 찍고')

서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [ ]:
print(12, 34, 56, sep = '^^', end = '-->')
print(78)

12^^34^^56-->78

In [ ]:
a= 13
b= 21
print(a, b)
print(a+ b)
print(a, b, sep = "")
print(a, b, end= "")

13 21
34
1321
13 21

변수 = input( '질문 내용')

In [ ]:
age= input('몇 살이세요?')
print(age)

몇 살이세요?19
19

In [ ]:
name = input('이름 : ')
print('안녕하세요', name, '님!')

이름 : 신강민
안녕하세요 신강민 님!

In [ ]:
fruit1 = input('첫 번째 과일 입력 : ')
fruit2 = input('두 번째 과일 입력 : ')
print(fruit1,'와(과)',fruit2,'은(는) 내가 좋아하는 과일이다. ')

첫 번째 과일 입력 : 사과
두 번째 과일 입력 : 수박
사과 와(과) 수박 은(는) 내가 좋아하는 과일이다.

In [ ]:
year = input('몇 년도? ')
month = input('몇 월? ' )
day = input('몇 일? ')
print(year, month, day, sep= '. ')

몇 년도? 2021
몇 월? 12
몇 일? 25
2021. 12. 25

In [ ]:
age= input('몇 살이세요? ')
print(age+age)

몇 살이세요? 28
2828

input 함수로 입력받은 값은 항상 문자열이다.

In [ ]:
age= input('몇 살이세요? ')
age= int(age)
print(age + age)

몇 살이세요? 28
56

In [ ]:
price = int(input('가격을 입력하세요 : '))
num = int(input('개수를 입력하세요 : '))
sum = price * num
print('총액은', sum, '원입니다')

가격을 입력하세요 : 100
개수를 입력하세요 : 5
총액은 500 원입니다

변수 = int(input('질문 내용'))

In [ ]:
width = int(input('사각형의 가로 : '))
height = int(input('사각형의 세로 : '))
print('사각형의 면적은', width * height,'입니다.')

사각형의 가로 : 5
사각형의 세로 : 10
사각형의 면적은 50 입니다.

In [ ]:
name= input('이름? ')
born_year= int(input('태어난 해는? '))
print(name, '님의 나이는', 2023-born_year, '입니다.')

이름? 정수
태어난 해는? 2002
정수 님의 나이는 21 입니다.

In [ ]:
price = int(input('물건의 가격? :'))
number = int(input('물건 구매 개수? :'))
pay_money = int(input('지불한 돈 ? : '))
print('거스름돈은', pay_money-(price*number), '원입니다.')

물건의 가격? :500
물건 구매 개수? :4
지불한 돈 ? : 5000
거스름돈은 3000 원입니다.

등호 ( = )는 '할당연산자'라 부르며 '같다'란 의미가 아니라 '우측의 데이터를 좌측 변수에 저장하는것이다.

변수명 규칙
1.키워드는 사용할 수 없다.
2.내장 함수나 표준 모듈명도 쓰지 않는 것이 좋다.
3.모든 명칭은 대소문자를 구별한다.
4.알파벳, 밑줄 문자, 숫자로 구성된다. 공백이나 +, -, # 등 특수문자들은 사용할 수 없다.
5.첫 글자로 숫자는 쓸 수 없다.
6.가급적 영어 단어로 붙이는 것이 좋다.

자료형 확인하기 (type)

In [ ]:
print(type('안녕하세요'))
print(type(273))
print(type(3.141592))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
score = 100
print(score)
print(type(score))

100
<class 'int'>

In [ ]:
score = 'high'
print(score)
print(type (score))

high
<class 'str'>

In [ ]:
num=123456789
print(num)
print(type(num))

123456789
<class 'int'>

In [ ]:
num = -20909
print(num)
print(type(num))

-20909
<class 'int'>

In [ ]:
a= 1.5
b= -3.5
print(a, b)
print(type(a), type(b))

1.5 -3.5
<class 'float'> <class 'float'>

In [ ]:
x= 3.3764
y= 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [ ]:
a= "Korea 서울 1234"
print(a)
print(type(a))

Korea 서울 1234
<class 'str'>

In [ ]:
a= 30
print(a)
print(type(a))


b= '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

문자열을 감싸는 기호인 따옴표는 따옴표 안에 적을 수 없다.

In [ ]:
a=5
b=a==5
print(b)

True

In [ ]:
if a==5:
  print("a는 5")

a는 5

In [ ]:
a= input('첫번째숫자를입력하세요 : ')
b= input('두번째숫자를입력하세요 : ')
c= a + b
print(c)

첫번째숫자를입력하세요 : 100
두번째숫자를입력하세요 : 200
100200

In [ ]:
a= input('첫번째숫자를입력하세요 : ')
b= input('두번째숫자를입력하세요 : ')
c= int(a) + int(b)
print(c)

첫번째숫자를입력하세요 : 100
두번째숫자를입력하세요 : 200
300

In [ ]:
inch = float(input('인치를 입력하세요 : '))
print('센티미터: ', inch* 2.54)

인치를 입력하세요 : 3.5
센티미터:  8.89

In [ ]:
r = int(input('반지름은? : '))
length= 2*3.14 *r
area= 3.14*r*r
print(f"반지름이 {r}인 원의 둘레는 {length: .2f}이고, 면적은 {area}이다.")
print("반지름이 %d인 원의 둘레는 %.2f이고, 면적은 %.2f이다"%(r, length, area))

반지름은? : 7
반지름이 7인 원의 둘레는  43.96이고, 면적은 153.86이다.
반지름이 7인 원의 둘레는 43.96이고, 면적은 153.86이다

In [ ]:
height= int(input('현재 키는? '))
aim_height= int(input('5개월 후의 목표 키는? '))
print('한달에', (aim_height-height)/5, '씩 성장해 보세요!')

현재 키는? 160
5개월 후의 목표 키는? 168
한달에 1.6 씩 성장해 보세요!

In [ ]:
book = int(input('책 값 : '))
discount = float(input('할인율(%) : '))
discount = 0.01*discount
delivery = int(input('배송비 : '))

print('결제하실 금액은', book-(book*discount)+delivery, '원 입니다.')

책 값 : 3000
할인율(%) : 20
배송비 : 3000
결제하실 금액은 5400.0 원 입니다.

In [ ]:
subject1 = int(input('첫 번째 과목: '))
subject2 = int(input('두 번째 과목: '))
print('합계:', subject1+subject2, '평균:', (subject1+subject2)/2.0)

첫 번째 과목: 80
두 번째 과목: 96
합계: 176 평균: 88.0

In [ ]:
below = int(input('삼각형의 밑변 길이 : '))
height = int(input('삼각형의 높이 : '))
print('삼각형의 면적 : ', below*height/2.0)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 :  15.0

In [ ]:
kg = float(input('킬로그램(kg) 입력: '))
print(kg, 'kg은', kg*2.2046, '파운드 입니다.')

킬로그램(kg) 입력: 30.5
30.5 kg은 67.2403 파운드 입니다.

In [ ]:
print(5*2)
print(5-2)
print(5*2)
print(5/2)
print(5**2)
print(5%2)

10
3
10
2.5
25
1

In [ ]:
x =10 %3
print(x)
y= 7/3
print(y)

1
2.3333333333333335

In [ ]:
a=10
b=20
c=a+b *10 - 5/5
print(c)

209.0

In [ ]:
x= 2**3
print(x)
y = 10**4
print(y)

8
10000

In [ ]:
hello = '안녕' * 5
print(hello)

안녕안녕안녕안녕안녕

In [ ]:
s1= "대한민국"
s2= "만세"
print(s1+s2)
print(s1 *5)

대한민국만세
대한민국대한민국대한민국대한민국대한민국

In [ ]:
print("korea"+ str(2021))
print(10+int("22"))
print(10+ int(22.5))
print(10+ int(float(22.5)))
print("korea" + str(2021))

korea2021
32
32
32
korea2021

In [ ]:
x= 10
x+=20
print(x)

30

In [ ]:
a=5
a=a+1
print(a)

a=5
a+=1
print(a)

a-=5
print(a)

a*=2
print(a)

6
6
1
2

In [ ]:
x= 3
y= 5
x *= x+y
print(x)

24

In [ ]:
money = int(input('투입한 돈 : '))
price = int(input('물건 값 : '))
change = money-price
print('거스름돈 : ', change)
print('500원 동전의 개수 : ', change//500)
print('100원 동전의 개수 : ', (change%500)//100)

투입한 돈 : 2500
물건 값 : 300
거스름돈 :  2200
500원 동전의 개수 :  4
100원 동전의 개수 :  2